.content {
    position: relative;
    padding-top: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #FFF1F9;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 4rem 2rem 2rem 2rem;
}

.options {
    width: 50%;
}
.sendButton :global(.vtex-button){
    background: #E80C8B;
}

.contentForm {
    width: 50%;
}
.formTitle{
    font-weight: bold;
    text-align: left;
    padding-left: 0;
}
.label{
    text-transform: initial;
    text-align: left;
    color: #000;
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
}
.profile{
    color: #000;
    text-transform: initial;
}
@media only screen and (max-width: 640px) {
    :global(.vtex-login-2-x-content) {
        margin-bottom: 30px;
    }
}
.buttonLink{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Mobile */
@media (max-width: 1023px) {
    .buttonLink{
        border: 0;
        height: initial;
    }
}