
.cartIcon{
    width: 32px;
    height: 36px;
}
:global(.vtex-login-2-x-profileIcon){
    width: 32px;
    height: 32px;
}
:global(.vtex-minicart-2-x-cartIcon){
    width: 32px;
    height: 32px;
}
:global(.vtex-store-components-3-x-searchIcon){
    width: 55px;
    height: 30px;
}
/* Mobile */
@media (max-width: 1023px) {
    :global(.vtex-login-2-x-profileIcon){
        width: 35px;
        height: 35px;
    }
    :global(.vtex-store-icons-0-x-cartIcon){
        width: 32px;
        height: 36px;
    }
}