/*TOP BAR*/
.paragraph--text-topbar1{
  color: #02477E;
  font-size: 24px;
  font-weight: 400;

}
.paragraph--text-topbar2{
  color: #02477E;
  font-size: 24px;
  font-weight: 900;
  border-style: dashed;
  padding: 0 5px;
}
:global(.vtex-rich-text-0-x) .container--titulosvitrine {
  width: 100%;
  display: inline-block;
}

.container--titulosvitrine{margin-top: 20px;}

.heading--titulosvitrine {
    font-weight: 700;
    color: #000;
    padding: 0 20px;
    font-size: 36px;
    margin: 30px;
}
:global(.vtex-store-footer-2-x-footerLayout) .heading {
  color: #000;
}
.link--telefone-footer-mobile{
  font-size: 22px;
}
:global(.vtex-store-footer-2-x-footerLayout) .headingLevel3 {
  font-size: 28px;
}
.wrapper--titulos-pink .headingLevel3--titulos{
  font-size: 36px;
  color: #E80C8B;
}
.heading--titulos-pink{
  color: #E80C8B !important;
  font-size: 36px !important;
  font-weight: 700;
  margin-bottom: 5px;
}
:global(.vtex-rich-text-0-x-container--texto-qtd){
  display: flex;
  align-self: center;
}

.paragraph--section-title {
  margin:0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .headingLevel2,  :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .headingLevel2{
  color: #000;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 640px) {

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .headingLevel2,  :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .headingLevel2{
  font-size: 1.5rem;
}
.heading--titulosvitrine {
  font-weight: 700;
  color: #000;
  padding: 0 10px;
  font-size: 21px;
  margin: 30px 10px;
}

}

:global(.vtex-flex-layout-0-x-flexCol--menu-categorias-container) .link, :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .link {
  color: #282D2F;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

:global(.vtex-store-footer-2-x-footerLayout) .headingLevel4 {
  font-size: 20px;
  color: #E80C8B;
  font-weight: 700;
}

:global(.vtex-store-footer-2-x-footerLayout) .headingLevel5 {
  color: #FFF1F9;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0px;
}

:global(.vtex-store-footer-2-x-footerLayout) .link {
  color:#656565;
  text-decoration: none;
  font-size: 19px;
}

:global(.vtex-store-footer-2-x-footerLayout) .paragraph {
  margin-top:0;
  color: #656565;
  margin-bottom: 5px;
  font-size: 18px;
}
.container--navegue-ambientes {
  color: #20211f;
  width: 100%;
}
.paragraph--navegue-ambientes {
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.065em;
  font-size: 1.5rem;
  display: flex;
  font-weight: 700;
}
.paragraph--copyright-mobile {
  margin-top: 20px!important;
}
.wrapper--button-ofertas-home{
  width: 100%;
}
.link--text-category{
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.paragraph--texto-qtd{
  color: #2d2e2b;
  font-size: 1.188rem;
  font-weight: bold;
  margin: 0;
}
.paragraph--title-desc-prod{
  font-size: 18px;
  font-weight: 700;
  color: #E80C8B;
}

/* Page Location Store */
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild){
  padding: 0 10px;
  margin-bottom: 20px;
  display: flex;
    justify-content: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-rich-text-0-x-heading){
  margin-bottom: 0;
}

@media only screen and (max-width: 1023px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild){
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild){
    width: 100%;
  }
}

.container--row-itens-benefits{
    background: #000;
    border-radius: 15px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.wrapper--row-itens-benefits-cupom :global(.vtex-rich-text-0-x-paragraph){
  font-size: 20px;
    line-height: 20px;
    padding-right: 10px;
    text-align: right;
}
.wrapper--row-itens-benefits-desc :global(.vtex-rich-text-0-x-headingLevel2){
  font-size: 40px;
  color: #fff;
}
.paragraph--benefits-footer-icon{
  margin-bottom: 0 !important;
  line-height: 0;
  padding-right: 10px;
}
.container--row-itens-cupon{
  background: #E4E5E6;
}
.heading--row-itens-aproveite{
  background: #282D2F;
    margin: -35px 0 0;
    padding: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
}
.wrapper--row-itens-cupon .paragraph--row-itens-benefits-desc{
  font-size: 22px !important;
  color: #000 !important;
}
.paragraph--row-itens-benefits-desc{
  color: #E61617 !important;
  font-size: 26px !important;
}

/*benefits footer*/
.wrapper--benefits-footer-content{
  max-width: 340px;
  text-align: center;
}
.wrapper--benefits-footer-content .paragraph{
  font-size: 24px;
  color: #000;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}
.wrapper--benefits-footer-content :global(.vtex-rich-text-0-x-strong){
  font-size: 12px;
  line-height: 15px;
  color: #02477E;
  font-weight: 900;
}

.wrapper--text-footer-left{
  max-width: 400px;
}
.link--button-chat{
  background: #F7DB09;
    padding: 10px;
    border-radius: 15px;
    width: 150px;
    display: block;
    color: #122364 !important;
    font-weight: 700;
}
.container--duvidas-bottom-text, .link--duvidas-bottom-tel{
  margin-left: 10px;
}
.wrapper--title-disclosure-prod .paragraph{
  color: #282D2F;
  font-size: 22px;
}

/* Mobile */
@media (max-width: 1023px) {
  .wrapper--title-disclosure-prod .paragraph{
    font-size: 18px;
  }
  .wrapper--telefone-footer-mobile{
    font-size: 36px;
    margin-bottom: 10px;
  }
  .headingLevel3--email-footer-mobile, .headingLevel3--atendimento-footer-mobile{
    font-size: 18px !important;
    font-weight: 900 !important;
    margin-bottom: 10px;
  }
}
.container--quadro-left{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
}
.container--quadro-right{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: #F2F2F2;
  padding: 10px;
}
.paragraph--quadro-left{
  font-size: 15px;
    color: #282D2F;
    font-weight: 600;
}
.paragraph--quadro-right{
  font-size: 15px;
    color: #282D2F;
    font-weight: 400;
}
:global(.vtex-flex-layout-0-x-flexRowContent--pg-institucional) .headingLevel2{
  font-size: 20px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--pg-institucional) .headingLevel3{
  font-size: 18px;
}
.container--fale-conosco-text{
  margin-left: 15px;
}
.container--copyright-desk{
  padding-bottom: 35px;
}
.paragraph--copyright-desk{
  color: #949494 !important;
}
.paragraph--title-frete{
  font-size: 16px;
  color: #20211f;
  font-weight: 400;
  display: block;
}
.container--news-text-desk{
  align-items: center;
}
.paragraph--news-text-desk{
  font-weight: 800;
    font-size: 40px;
    line-height: 40px;
}
.paragraph--text-category{
  min-height: 40px;
    display: flex;
}
.paragraph--telefone-footer-mobile-text{
  font-size: 18px !important;
  color:#E80C8B !important;
  font-weight: bold;
}
.headingLevel3--email-footer-mobile .link--email-footer-mobile, .headingLevel3--atendimento-footer-mobile{
  font-size: 18px !important;
  color:#E80C8B !important;
  font-weight: bold;
}
.wrapper--link-tabela-medidas{
  text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}