.newsletterForm {
    display: flex;
    justify-content: space-between;
}
.nameInputContainer :global(.vtex-input-prefix__group),
.emailInputContainer :global(.vtex-input-prefix__group){
    background: #fff;
    height: 60px;
    border: 0;
    max-width: 270px;
    min-width: 230px;
    border-radius: 50px;
}
.emailInputContainer {
    flex-grow:1;
    margin-right: -1rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 33%;
    padding: 0 5px;
}
.nameInputContainer,.formSubmitContainer{
    max-width: 33%;
    padding: 0 5px;
}

.defaultSuccessMessage {
    color: #fff;
    border: 1px solid #FFF1F9;
    background: #FFF1F9;
    padding: 1rem;
    margin: 0px;
    display: block;
    text-align: center;
    border-radius: 0.3rem;
    background: #8bc34a1f;
    text-transform: uppercase;
    font-weight: 500;
}
.formSubmitContainer :global(.vtex-button){
    position: relative;
    width: 248px;
    background: #F7DB09;
    border: 0;
    height: 60px;
    border-radius: 31px;
    color: #000;
}
.formSubmitContainer :global(.vtex-button__label){
    font-size: 16px;
    font-weight: 600;
    text-transform: initial;
}
.formSubmitContainer:hover :global(.vtex-button__label){
   color: #000 !important;
}
.newsletterForm--news{
    align-items: center;
}
@media (max-width: 1024px){
    .newsletterForm {
        display: block;
    }
    .emailInputContainer {
        max-width: 100%;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .nameInputContainer,.formSubmitContainer{
        max-width: 100%;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .formSubmitContainer :global(.vtex-button){
        width: 100%;
    }
    .nameInputContainer :global(.vtex-input-prefix__group),
    .emailInputContainer :global(.vtex-input-prefix__group){
        max-width: 100%;
    }
    .nameInputContainer{
        display: none;
    }
}