.title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #E80C8B;
    margin: 25px auto;
    padding: 0 20px;
    font-size: 18px;
}


:global(.vtex-shelf-1-x-container) :global(.vtex-shelf-1-x-title){
    display:none;
}
.arrow{
    background: #FFF1F9;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 100%;
}
:global(.vtex-flex-layout-0-x-flexRowContent--shelfvitrine) .caretIcon{
    color: #fff;
}
.sliderContainer--mais-buscados :global(.vtex-product-summary-2-x-brandName){
    color: #656565;
    font-size: 19px;
    font-weight: 400;
}
.sliderContainer--mais-buscados :global(.vtex-product-summary-2-x-nameContainer){
    padding: 0;
    display: flex;
    align-items: center;
}
.container{
    padding-bottom: 10px;
}