.container--shelf :global(.vtex-product-summary-2-x-nameContainer) {
  justify-content: center;
}
.container--shelf{/*padding: 10px;*/position: relative;}

.element--shelf .brandName{
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 19px;
  color: #000;
  font-weight: 600;
}
.nameContainer{
  justify-content: center;
}
.element--shelf .nameContainer{
  padding-bottom: 0;
  font-size: 16px;
  min-height: 75px;
  text-align: center;
}
.priceContainer{
  padding: 0.5rem 0;
}
.element--shelf{
  border-radius: 8px;
  padding: 10px;
}
.element--shelf :global(.vtex-button){
  background: #fff;
  color: #FFF1F9;
  text-transform: inherit;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  margin-top: 15px;
  border: 1px solid #FFF1F9;
  font-weight: 600;
  height: 49px;
}
.sellingPrice{
  color: #FFF1F9;
  font-size: 33px;
  font-weight: bold;
} 

/* LISTS E GRID SEARCH */

.container--listLayout{
  max-width: none!important;
}
.brandName{
  font-size: 16px;
}
.productBrand--summaryListDesktop{
  font-size: 16px;
  font-weight: 600;
}
.element--shelf :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button){
  border: 0 !important;
    position: absolute;
    background: transparent !important;
    top: 5px;
    right: 5px;
}
.imageNormal{
  max-height: 360px !important;
}