.installments{
    font-size: 0px;
    color: #000;
    text-align: center;
    line-height: 22px;
}
.installmentsNumber{
    font-size: 16px;
    color: #000;
    font-weight: 700;
}
.installmentValue{
    font-size: 16px;
    color: #000;
    font-weight: 700;
}
.installmentValue::before{
    content: 'x de';
    margin-right: 4px;
    font-weight: 700;
}
.sellingPrice {
    text-align: center;
}
.sellingPriceValue{
    color: #000 ;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}
.installmentValue .currencyContainer{
    color: #000;
}
:global(.vtex-product-summary-2-x-element--shelf) .installmentValue .currencyContainer{
    color: #E80C8B;
    font-size: 18px;
}

.installments--price-install-prod{
    font-size: 0px;
}
.installmentsNumber--price-install-prod, .installmentValue--price-install-prod{
    font-size: 36px;
    font-weight: 700;
    color: #000;
}
.installmentsNumber--price-install-prod::after{
    font-size: 16px;
    margin-right: 5px;
}