.buttonText--add-cart-prod{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color:#fff;
}
.buttonText--add-cart-prod::before{
    content:url('assets/svg/cart-btn-prod.svg');
    margin-right: 10px;
}