:global(.vtex-slider-layout-0-x-slideChildrenContainer--slidercategory){
    text-align: center;
}
.paginationDotsContainer{
    bottom: -15px;
}
.paginationDot--carousel{
    background: #E1E1E1;
}
.paginationDot--carousel--isActive{
    background:#E80C8B;
    border-radius: 20px;
}
.sliderTrackContainer--slidercategory{
    padding: 0 25px;
}
.sliderLayoutContainer--carousel{
    max-width: 96rem;
    margin: 30px auto;
}
.sliderArrows--slidercategory{
    background: #E80C8B !important;
    border-radius: 50px;
    width: 36px;
    height: 36px;
}
.sliderLeftArrow, .sliderRightArrow{
    background: #E80C8B !important;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.sliderLeftArrow :global(.vtex-slider-layout-0-x-caretIcon),
.sliderRightArrow :global(.vtex-slider-layout-0-x-caretIcon){
    color: #fff;
}
.caretIcon--slidercategory{
    color: #fff;
    width: 15px;
}
.slideChildrenContainer--slidercategory :global(.vtex-flex-layout-0-x-flexCol){
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideChildrenContainer--slidercategory :global(.vtex-flex-layout-0-x-flexColChild){
    min-height: 46px;
}
.slide--slidercategory{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide--sliderbenefitsfooter--firstVisible{
    border: 0;
}
/* Mobile */
@media (max-width: 1023px) {
    .slide--sliderbenefitsfooter{
        border: 0;
    }
}
